@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #03045e;
    color: #FFF;
    padding: 0% 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins' , Georgia, 'Times New Roman', Times, serif;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.contacts span {
    padding: 0px 10px;
}

.bodycontainer {
    background: rgb(222, 222, 223);
    color: #000;
    margin: 0% 5%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
}

.bodycontainer label {
    font-size: 25px;
    color: #023e8a;
    text-decoration: underline;
}

.companyone{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.companyone .company {
    font-size:  16px;
    font-weight: 600;
}

.companyone .jobtitle {
    font-size: 12px;
    font-weight: 400;
}

.companyone .worked {
    font-size: 14px;
    font-weight: 500;
}

.companyone .responsibilities {
    padding-left: 20px;
    padding-right: 20px;
}

.projecttitle {
    font-size: 14px;
    font-weight: 700;
}

.education .school{
    font-weight: 600;
}

.education .yearpassout {
    font-weight: 500;
}

.languages ul li span {
    font-weight: 500;
}

.languages ul{
    padding-left: 20px;
}

.scoredmark ul {
    padding-left: 20px;
}

.lists {
    display: flex;
}

.lists p {
    background: #90e0ef;
    margin: 10px ;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.socialmedia a{
    text-decoration: none;
    color: #FFF;
}

.companies , .skills {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.experiance {
    display: flex;
    flex-direction: column;
}

.projects {
    padding-top: 20px;
}

.techskills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        align-items: baseline;
    }

    .contacts {
        margin-top: 0;
    }

    .contacts span {
        padding: 0 5px 0 0;
    }

    .socialmedia {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 350px){
    .socialmedia{
        display: none;
    }
    .mobile {
        margin-bottom: 10px;
    }
    .bodycontainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 890px) {
    .bodycontainer {
        flex-direction: column;
    }
}